apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: smbcreds-arr-stack
  namespace: doppler-operator-system
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  tokenSecret:
    name: doppler-token-secret
    namespace: doppler-operator-system

  project: rke2-cluster
  config: main

  secrets:
    - SMB_USER
    - SMB_PASSWORD

  processors:
    SMB_USER:
      type: plain
      asName: username
    SMB_PASSWORD:
      type: plain
      asName: password

  managedSecret:
    name: smbcreds-arr-stack
    namespace: arr-stack
    type: Opaque
