apiVersion: v1
kind: Namespace
metadata:
  name: tailscale
---
apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: tailscale-doppler
  namespace: doppler-operator-system
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  tokenSecret:
    name: doppler-token-secret
    namespace: doppler-operator-system

  project: rke2-cluster
  config: main

  secrets:
    - TS_AUTHKEY

  managedSecret:
    name: tailscale-doppler
    namespace: tailscale
    type: Opaque