{{- if .Values.doppler.enabled }}
apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: {{ .Values.envFromSecret | quote }}
  namespace: {{ .Values.doppler.dopplerSecretNamespace | quote }}
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.doppler.syncWave | quote }}
spec:
  tokenSecret:
    name: {{ .Values.doppler.tokenSecretName | quote }}
    namespace: {{ .Values.doppler.tokenSecretNamespace | quote }}

  project: {{ .Values.doppler.project | quote }}
  config: {{ .Values.doppler.config | quote }}
  secrets:
    {{- range .Values.doppler.secrets }}
    - {{ . | quote }}
    {{- end }}

  managedSecret:
    name: {{ .Values.envFromSecret | quote }}
    namespace: {{ .Release.Namespace | quote }}
    type: {{ .Values.doppler.managedSecretType | quote }}
{{- end }}
