apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      containers:
      - name: jellyfin
        image: lscr.io/linuxserver/jellyfin:10.11.5
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 8096
        startupProbe:
          httpGet:
            path: /health
            port: 8096
            scheme: HTTP
          periodSeconds: 10
          failureThreshold: 15
        readinessProbe:
          httpGet:
            path: /health
            port: 8096
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 4
        livenessProbe:
          httpGet:
            path: /health
            port: 8096
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 4
        env:
        - name: TZ
          value: Asia/Kolkata
        - name: PUID
          value: "911"
        - name: PGID
          value: "911"
        - name: NVIDIA_VISIBLE_DEVICES
          value: "all"
        - name: NVIDIA_DRIVER_CAPABILITIES
          value: "compute,video,utility"
        resources:
          limits:
            nvidia.com/gpu: 1
        volumeMounts:
        - name: config
          mountPath: /config
        - name: cache
          mountPath: /cache
        - name: media2-media
          mountPath: /media_2
          readOnly: true
      tolerations:
      - key: "GPU"
        operator: "Equal"
        value: "Nvidia"
        effect: "NoSchedule"                                                                                      
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: jellyfin-config
      - name: cache
        emptyDir:
          medium: Memory
          sizeLimit: 3Gi
      - name: media2-media
        persistentVolumeClaim:
          claimName: jellyfin-media2-media