apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: jellyfin
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      securityContext:
        fsGroup: 911
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 44   # video
          - 993  # render

      containers:
      - name: jellyfin
        image: lscr.io/linuxserver/jellyfin:10.11.5
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 8096
        startupProbe:
          httpGet:
            path: /health
            port: 8096
            scheme: HTTP
          periodSeconds: 10
          failureThreshold: 15
        readinessProbe:
          httpGet:
            path: /health
            port: 8096
            scheme: HTTP
          initialDelaySeconds: 5
          timeoutSeconds: 5
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 4
        livenessProbe:
          httpGet:
            path: /health
            port: 8096
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 5
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 4
        env:
        - name: TZ
          value: Asia/Kolkata
        - name: PUID
          value: "911"
        - name: PGID
          value: "911"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: cache
          mountPath: /cache
        - name: media2-media
          mountPath: /media_2
          readOnly: true
#        resources:
#          limits:
#            gpu.intel.com/xe: 1


      - name: threadfin
        image: fyb3roptik/threadfin:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: threadfin-http
          containerPort: 34400
        env:
        - name: TZ
          value: Asia/Kolkata
        - name: THREADFIN_PORT
          value: "34400"
        # Threadfin default paths include /home/threadfin/conf (config) :contentReference[oaicite:1]{index=1}
        volumeMounts:
        - name: threadfin-config
          mountPath: /home/threadfin/conf
        - name: threadfin-temp
          mountPath: /tmp/threadfin
        readinessProbe:
          tcpSocket:
            port: 34400
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 34400
          initialDelaySeconds: 20
          periodSeconds: 20


      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: jellyfin-config
      - name: cache
        emptyDir:
          medium: Memory
          sizeLimit: 3Gi
      - name: media2-media
        persistentVolumeClaim:
          claimName: jellyfin-media2-media

      - name: threadfin-config
        persistentVolumeClaim:
          claimName: threadfin-config
      - name: threadfin-temp
        emptyDir: {}
