replicaCount: 3

name: librespeed

image:
  repository: lscr.io/linuxserver/librespeed
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  annotations:
    #nginx.ingress.kubernetes.io/configuration-snippet: |
    #  proxy_set_header X-Real-IP $remote_addr;
    #  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    #  proxy_set_header X-Forwarded-Proto $scheme;
    #nginx.ingress.kubernetes.io/ssl-redirect: "false"
    #nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    #nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    #nginx.ingress.kubernetes.io/proxy-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-body-size: "100m"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
  hosts:
    - host: librespeed.techtronics.top
      paths:
        - path: /
          pathType: Prefix
  #tls: []
  tls:
    hosts:
      - librespeed.techtronics.top



# LibreSpeed config (plain env vars)
env:
  MODE: standalone

# Doppler-managed K8s Secret name to envFrom
envFromSecret: librespeed-env-vars

# DopplerSecret config
doppler:
  enabled: true
  dopplerSecretNamespace: doppler-operator-system
  tokenSecretName: doppler-token-secret
  tokenSecretNamespace: doppler-operator-system
  project: rke2-cluster
  config: main
  managedSecretType: Opaque
  syncWave: "-1"
  secrets:
    - LIBRESPEED_CUSTOM_RESULTS
    - LIBRESPEED_IPINFO_APIKEY
    - TZ

probes:
  enabled: true
  path: /
  port: 80
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 10
  liveness:
    initialDelaySeconds: 15
    periodSeconds: 20

persistence:
  enabled: true
  mountPath: /config
  accessMode: ReadWriteMany
  size: 300Mi
  storageClassName: longhorn

  # If you want a static PV created by the chart:
  createPV: false
  pvName: librespeed-pv
  hostPath: /var/lib/librespeed
  reclaimPolicy: Retain

