apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: default
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - argocd.techtronics.top
  rules:
  - host: argocd.techtronics.top
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argo-cd-argocd-server
            port:
              number: 80
