apiVersion: secrets.doppler.com/v1alpha1
kind: DopplerSecret
metadata:
  name: gluetun-wireguard-keys
  namespace: doppler-operator-system
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  tokenSecret:
    name: doppler-token-secret
    namespace: doppler-operator-system

  project: rke2-cluster
  config: main

  secrets:
    - WIREGUARD_PUBLIC_KEY
    - WIREGUARD_PRIVATE_KEY
    - WIREGUARD_PRESHARED_KEY
    - WIREGUARD_ENDPOINT_IP
    - SMB_USER
    - SMB_PASSWORD
  
  processors:
    SMB_USER:
      type: plain
      asName: username
    SMB_PASSWORD:
      type: plain
      asName: password

  managedSecret:
    name: gluetun-wireguard-keys
    namespace: vpn-torr
    type: Opaque